.slider-container {
    position: relative;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}

.slider-images {
    display: flex;
    transition: transform 0.5s;
}

.slider-image {
    min-width: 600px;
}

.slider-button {
    cursor: pointer;
}

.slider-dots {
    display: flex;
    list-style: none;
    justify-content: center;
}

.slider-dot {
    cursor: pointer;
    margin: 0 5px;
    background-color: #333;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}